{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <!-- My Profile Heading -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Favourites</h2>
                <hr>
            </div>
        </div>
        {% if favourites_list %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'product_detail' product.id %}"
                                            title="{{ product.proudct_id }}">
                                                {{ product.name }}
                                            </a>
                                        </td>
                                        <td>
                                            <p>{{ product.price }}</p>
                                        </td>
                                        <td>
                                            <form class="form update-form" method="POST" action="{% url 'remove_favourite' product.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                <button class="btn btn-sm btn-secondary"><strong>Remove</strong></button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p class="lead mb-5">You have no favourites.</p>
                    </div>
                </div>
            {% endif %}
        </div>
{% endblock %}