{% extends "base.html" %}

{% block content %}
<div class="overlay"></div>
<!-- Favourites Hero Image -->
<div class="hero-image favourites-image">
    <div class="hero-text">
        <h1>Favourites</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            {% for product in favourite.products.all %}
            <!-- Products Table -->
            <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <!-- Table Header -->
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <!-- Table Body -->
                    <tbody>
                        <tr>
                            <td>
                                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                            </td>
                            <td>
                                <p>{{ product.price }}</p>
                            </td>
                            <td>
                                <small>
                                    <a class="text-danger" href="{% url 'remove_favourite' product.id %}">Remove</a>
                                </small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% empty %}
            <!-- No Products Message -->
            <p class="lead mb-4">You have no products in you favourites.</p>
            <a href="{% url 'products' %}?category=brewers,accessories" class="btn btn-primary py-3"><strong>Shop Now!</strong></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}