{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <!-- My Profile Heading -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Favourites</h2>
                <hr>
            </div>
        </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            <a href="#"
                                            title="#">
                                                product.name
                                            </a>
                                        </td>
                                        <td>
                                            <p>product.price</p>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p class="lead mb-5">You have no favourites.</p>
                    </div>
                </div>
        </div>
{% endblock %}