{% extends "base.html" %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <!-- Events Heading -->
    <div class="row">
        <div class="col">
                <h2 class="logo-font mb-4 text-center">Events</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive . table-striped">
                <table class="table table-borderless">
                    {% for event in events %}
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Location</th>
                            <th>City</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>{{ event.name }}</p>
                            </td>
                            <td>
                                <p>{{ event.location }}</p>
                            </td>
                            <td>
                                <p>{{ event.town_or_city }}</p>
                            </td>
                            <td>
                                <p>{{ event.date }}</p>
                            </td>
                            {% if request.user.is_superuser %}
                            <td>
                                <small>
                                    <a class="text-danger" href="{% url 'delete_event' event.id %}">Remove</a>
                                </small>
                            </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>{{ event.description }}</td>
                        </tr>
                    </tbody>
                    {% empty %}
                    <thead>
                        <tr>
                            <th>Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="lead mb-4">Sorry, no upcoming events.</p>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}