{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <!-- My Profile Heading -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Wishlist</h2>
                <hr>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="table-responsive">
                    <table class="table table-borderless table-striped w-100">
                        <thead>
                            <tr class="border-bottom">
                                <th>Product</th>
                                <th>Date Added</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for product in wishlist_items %}
                                <tr class="border-top">
                                    <td>
                                        <p class="m-0"> {{product.name}}</p>
                                    </td>
                                    <td>
                                        £{{product.price}}
                                    </td>
                                    <td>
                                        <div class="p-0">
                                            <a href="" class="btn bg-danger text-light">Remove</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Empty Wishlist Notice -->
                    <p class="lead mb-5">Your wishlist is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-secondary btn-lg mt-2">
                        <span class="icon">
                            <i class="fa-solid fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase mt-2">Keep Shopping</span>
                    </a>
            </div>
        </div>
{% endblock %}