{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <!-- Recipes Page Header -->
    <div class="row mb-5">
        <div class="col text-center mt-3">
            <h2 class="p-2 mt-2">Recipes</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
            <!-- Display Recipe Selection -->
            {% for recipe in recipes %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                <div class="card h-100 border-0">
                    <!-- Recipe Image -->
                    {% if recipe.image %}
                    <a href="{% url 'recipe_detail' recipe.id %}">
                        <img class="card-img-top img-fluid" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                    </a>
                    <!-- Default No Image -->
                    {% else %}
                    <a href="{% url 'recipe_detail' recipe.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.webp" alt="{{ recipe.name }}">
                    </a>
                    {% endif %}
                    <!-- Recipe Name -->
                    <div class="card-body pb-0">
                        <a href="{% url 'recipe_detail' recipe.id %}" class="mb-0">{{ recipe.name }}</a>
                    </div>
                    <!-- Admin Edit/Delete Options -->
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col pt-2">
                                <!-- Admin Edit/Delete Options -->
                                {% if request.user.is_superuser %}
                                <small>
                                    <a class="text-primary btn bg-transparent" href="{% url 'edit_recipe' recipe.id %}">Edit</a>
                                    <button class="text-danger btn bg-transparent float-right" data-toggle="modal" data-target="#delete-modal-{{recipe.id}}">Delete</button>
                                </small>
                                <!-- Delete Recipe Modal -->
                                {% include 'recipes/includes/delete_recipe_modal.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- No Recipes Message -->
            {% empty %}
                <p class="lead mb-4">Sorry, no recipes at the moment. Please, try again events.</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Back to Top Button -->
<div class="to-top-button">
    <a class="to-top-link d-flex h-100" href="#" title="Back to top">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

<!-- Post Load JavaScript -->
{% block postloadjs %}
{{ block.super }}
{% include 'recipes/includes/to_top_button_script.html' %}
{% endblock %}