html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Roboto Mono';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/* Header */
#topnav {
    background-color: #1a0d00;
}

/* Buttons */
.shop-now-btn {
    background: #1a0d00;
    color: white;
    min-width: 260px;
    border-radius: 25px;
}

.btn-black {
    background: #1a0d00;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #1a0d00;
    color: white;
}

/* Homepage */
.homepage-body-text {
    font-weight: 600;
    background-color: rgba(0,0,0,.5);
    border-radius: 25px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}