/* ==========
general
========== */
html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/media/homepage_background.webp');
    background-size: cover;
    height: calc(100vh - 164px);
    color: #1a0d00;
    font-family: 'Roboto Mono';
}


/* ==========
Navbar
========== */
#topnav,
.navbar {
    background-color: #1a0d00;
}

.dropdown-menu {
    background-color: #1a0d00;
}

.dropdown-item {
    color: #fff;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #aab7c4 !important;
}

.active {
    color: #007bff !important;
}


/* ==========
Block Content
========== */
.container,
.product-container {
    margin-bottom: 50px;
}


/* ==========
Homepage
========== */
.homepage-body-text {
    font-weight: 400;
    color: #fff;
    border-radius: 25px;
}

.fa-solid {
    color: #fff;
}


/* ==========
Products Page
========== */
.category-header {
    pointer-events: none;
    color: #1a0d00;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	z-index: -1;
}


/* ==========
Footer
========== */
footer {
    background-color: rgba(26,13,0,.5);
    margin-top: auto;
}

.footer-copyright {
    padding: 5px !important;
    color: #fff;
}

.footer-copyright a:hover {
    font-weight: 500;
    color: #d9d9d9;
}


/* ==========
Forms
========== */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* ==========
Allauth Forms
========== */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    width: 100%;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}


/* ==========
Buttons & <a> Tags
========== */
.btn {
    border-radius: 25px !important;
}

button:disabled,
button[disabled]{
  background-color: #666;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.to-top-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 44px;
    right: 10px;
    border: 1px solid;
    border-radius: 50%;
    color: rgba(26,13,0,.5);
}

.to-top-link,
.update-link,
.remove-item,
.delete-item {
    cursor: pointer;
}

a, 
a:hover, 
a:focus, 
a:active {
    text-decoration: none;
    color: inherit;
}

a.heading-link:hover {
    font-weight: 700;
}

a.category-badge > span.badge:hover {
    background: #007bff !important;
    color: #fff !important;
}

.heading-link:hover {
    color: #666;
}

/* From: bulma.io/documentation/elements/icon/ */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


/* ==========
Toasts
========== */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ==========
media queries
min-width 1200px
========== */
@media (min-width: 1200px) {
    /* General */
    .container {
        max-width: 80%;
    }
}


/* ==========
media queries
min-width 992px
========== */
@media (min-width: 992px) {
    /* General */
    .header-container {
        padding-top: 120px;
    }

    /* Navbar */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }
}


/* ==========
media queries
max-width 991px
========== */
@media (max-width: 991px) {
    /* General */
    body {
        height: calc(100vh - 116px);
    }

    .header-container {
        padding-top: 80px;
    }
    
    .display-4.homepage-body-text {
        font-size: 2rem;
    }

    /* Navbar */
    .navbar > ul {
        padding: 0;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    /* Buttons */
    .btn {
        margin: 1px;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}
