html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #1a0d00;
    font-family: 'Roboto Mono';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/* Header */
#topnav,
.navbar {
    background-color: #1a0d00;
}

.dropdown-menu {
    background-color: #1a0d00;
}

.dropdown-item {
    color: #fff;
}

/* Buttons */
.btn {
    border-radius: 25px !important;
}

.shop-now-btn {
    background: #1a0d00;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #1a0d00;
    color: white;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    color: #17a2b8 !important;
    border-color: #17a2b8;
}

button:disabled,
button[disabled]{
  background-color: #666;
}

/* Homepage */
.homepage-body-text {
    font-weight: 400;
    background-color: rgba(26,13,0,.5);
    color: #fff;
    border-radius: 25px;
}

.fa-solid {
    color: #fff;
}

/* Products page */
.category-header {
    pointer-events: none;
    color: #1a0d00;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Back to Top Button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #1a0d00;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}