<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a class="logo-font font-weight-bold nav-link text-white mr-5"
                    href="{% url 'products' %}?category=brewers">Brewers</a>
                <a class="logo-font font-weight-bold nav-link text-white mr-5"
                    href="{% url 'products' %}?category=accessories">Accessories</a>
                <a class="logo-font font-weight-bold nav-link text-white mr-5"
                    href="{% url 'products' %}?category=brewers,accessories" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5"
                href="#">Brewing Recipes</a>
        </li>
    </ul>
</div>