<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee Brewers
            </a>
            <div class="dropdown-menu text-white border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Brewers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu text-white border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Cups</a>
                <a href="" class="dropdown-item">Filters</a>
                <a href="" class="dropdown-item">Other</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>
    </ul>
</div>