<!-- Product Qty Form -->
<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <!-- Decrement Qty Button -->
            <div class="input-group-prepend">
                <button class="decrement-qty btn-sm btn-dark decrement-qty_{{ item.item_id }}" 
                    data-item_id="{{ item.item_id }}">
                    <span>
                        <i class="fa-solid fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm text-center qty_input id_qty_{{ item.item_id }}" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="20"
                data-item_id="{{ item.item_id }}">
            <!-- Increment Qty Button -->
            <div class="input-group-append">
                <button class="increment-qty btn-sm btn-dark increment-qty_{{ item.item_id }}"
                    data-item_id="{{ item.item_id }}">
                    <span>
                        <i class="fa-solid fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>