<script type="text/javascript">

    // Update quantity on click
    $('.update-link').click(function(e) {
        const form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        const csrfToken = "{{ csrf_token }}";
        const itemId = $(this).attr('id').split('remove_')[1];
        const url = `/basket/remove/${itemId}/`;
        const data = {'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>