{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <!-- Checkout Heading -->
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                    <h2 class="logo-font mb-4">Add New Product</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <!-- Empty Add Product Form -->
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <!-- Cancel and Add Buttons -->
                    <div class="text-right">
                        <a class="btn btn-secondary" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

<!-- Post Load JavaScript -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/add_or_edit_product_script.html' %}
{% endblock %}